*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blue;
    width: 100vw;
    height: 30vh;
    text-align: center;
}
header>div{
    background-color: brown;
    width: 50%;
    height: 50%;
    text-align: center;
}
img{
    width: 10px;
    height: 10px;
}